In [5]:
import pandas as pd

In [11]:
pd.read_csv('C:/Users/ACER/heart/Heart_train.csv')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3,145.0,233.0,1.0,0,150.0,0.0,2.3,0,0.0,1.0,1
1,NaN,1.0,2,130.0,250.0,0.0,1,187.0,0.0,3.5,0,0.0,2.0,1
2,41.0,0.0,1,130.0,204.0,0.0,0,172.0,0.0,1.4,2,0.0,2.0,1
3,56.0,1.0,1,120.0,236.0,0.0,1,178.0,0.0,0.8,2,0.0,2.0,1
4,57.0,0.0,0,120.0,354.0,0.0,1,163.0,1.0,0.6,2,NaN,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,57.0,0.0,0,140.0,241.0,0.0,1,123.0,1.0,0.2,1,0.0,3.0,0
237,45.0,1.0,3,110.0,264.0,0.0,1,132.0,0.0,1.2,1,0.0,3.0,0
238,68.0,1.0,0,144.0,193.0,1.0,1,141.0,0.0,3.4,1,2.0,3.0,0
239,57.0,1.0,0,130.0,131.0,0.0,1,115.0,1.0,1.2,1,1.0,3.0,0
240,57.0,0.0,1,130.0,236.0,0.0,0,174.0,0.0,0.0,1,1.0,2.0,0